body {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    display: inline-block;
    text-decoration: none;
}

img {
    width: 300px;
    height: 125px;
}

.logo {
    margin: 75px;
    background: #032b43;
    margin: 0;
    padding: 25px;
    display: flex;
    justify-content: center;
}

/* .pages class */
.pages {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.pages ul {
    list-style-type: none;
    text-align: center;
    background-color: gold;
    margin: 0;
    padding: 0;

    border: solid;
    border-width: 2px;
    border-color: rgb(140, 119, 0);
    border-radius: 15px;
}

.pages li {
    display: inline-block;
    /* margin: 0 20px; */
}

.pages a {
    font-size: 25px;
    color: black;
    padding: 10px;
}

/* hovering */
.pages a:hover {
    background-color: rgb(249, 255, 61);

    border: solid;
    border-width: 2px;
    border-color: rgb(140, 119, 0);
    border-radius: 15px;
}
.pages a:first-child:hover {
    background-color: rgb(249, 255, 61);

    border: solid;
    border-width: 5px;
    border-color: rgb(140, 119, 0);
    border-radius: 15px;
}

/* empty space */

#empty-space {
    height: 120px !important;
    overflow: hidden;
    width: 360px;
}

#featured-games {
    display: block;
    margin: 100px;
}

/* misc */
::-webkit-scrollbar {
    display: none;
}